---
---

@import 'main';

/* append your custom style below */

h1, h2, h3 {
	font-weight: 600;
}

#sidebar .site-title {
	font-size: 1.3rem;
}

#archives .year::after {
	left: 16.3px;
}

img {
	border-radius: 0.5rem;
}